# Rust
/src-tauri/target/
/src-tauri/tests

# Node
/node_modules/
/dist/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/lerna-debug.log*
/.pnpm-debug.log*

# Editor directories and files
.vscode*
.idea*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Log files
*.log

/build-flatpak
/.flatpak-builder
/*.flatpak
/emerald-repo
/ignore/*
